h1 {
    background-image: url(../header.jpg);
    text-align: center;
    font-size: 100px;
    font: optional;
    color: aqua;
}
form {
    text-align: center;
}

nav ul li{
          color: aqua;
          list-style-type: none;
          display: inline-block;
          line-height: 24px;
          vertical-align: middle;
          text-align: top left;
}
ntp-realbox-icon {
                  height: 100%;
                  left: 12px;
                  position: absolute;
                  top: 0;
}